$blue: #41cbfd;
$grey: #808080; 
$lightgrey: #d3d3d3;

@mixin fieldset {
    padding-bottom: 2px;
    padding-left: 2px;
    padding-top: 0;
    border-radius: 8px;
}

body {
    display: flex;
    justify-content: center;
    margin-top: 35px;
    main {
        display: flex;
        flex-flow: column wrap;
        justify-content: center;
        align-items: center;
        width: 35%;
        height: auto;
        border-radius: 10px;
        box-shadow: 0px 0px 20px $grey;
    }
}

fieldset {
@include fieldset;
    border: $grey solid 1px;
    legend {
        font-weight: 700;
    }
}

input {
    width: 95%;
    border: none;
    padding: 10px;
}

#save {
    width: auto;
    margin-top: 15px;
    margin-bottom: 15px;
}

button {
    width: 100%;
    font-size: medium;
    height: 50px;
    background-color: $blue;
    border: none;
    border-radius: 10px;
    color: #fff;
}
